{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style_common.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style_login.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap_js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}" />
    
  <title> Login form </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}" class = "navbar_logo">
  <a class="navbar-brand" id="navbar_brand_name" href="#">Survey King</a>
    <ul class="navbar-nav mr-auto">
    </ul>
      <a class="navbar_login" href="/register">Sign Up</a>
</nav>
    <div>
        <!--
  <form name="login_form" method="post" id="login">
      <label class="username" for="username">Username</label>
      <br>
    <input type="text" id="username"  placeholder="Enter your username">
      <br>
      <label class="password" for="paswd">Password</label>
      <br>
      <input type="password" id="paswd"  placeholder="Enter your password">
      <br>
      <br>
      <input type="submit" value="Log In " id="submit">
      <br>
      <a class="forgot-password" href="">Forgot username or password?</a><br>
	  <a href="{% url 'social:begin' 'google-oauth2' %}" class="google btn">
          <i class="fa fa-google fa-fw"></i> Login with Google+
        </a>
	  <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
    </form>
    -->
        {% block content %}
        <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Log In " id="submit" onclick="isEmpty()">
            <br>
      <a class="forgot-password" href="/password_reset">Forgot username or password?</a><br>
	  <a href="{% url 'social:begin' 'google-oauth2' %}" class="google btn">
          <i class="fa fa-google fa-fw"></i> Login with Google+
        </a>
	  <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
  </form>
        {% endblock %}
    </div>
</body>
<script type="text/javascript" src="{% static 'js/empty.js' %}"></script>
</html>
