{% extends 'base.html' %}

{% block content %}
  <p style="padding:20px; font-size=20px; font-style:italic;">
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
  </p>
{% endblock %}