{% extends 'base.html' %}

{% block content %}
  <p  style="padding:20px; font-size=20px; font-style:italic;">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly. After that please continue to <a href="/login" style="text-decoration:none;">login</a> .
  </p>
  <p  style="padding:20px; padding-top:0px; font-size=20px; font-style:italic;">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}