{% extends 'base.html' %}

{% block content %}
{% if validlink %}
<h3 style="padding:20px;">Change password</h3>
<style>
    #id_new_password1,#id_new_password2{
    padding: 10px 10px;
    width : 350px;
    margin-left:10px;
}
    label{
    display:none;
    }
    ul{
display:none;
}
.errorlist{
display:block;
list-style:none;
font-style:italic;
color:red;
padding-left:8px;
}

  </style>
<form method="post" style="padding:20px;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change password" style="border-radius: 5px;
    border: 5px solid #00BF6F ;
    padding: 10px 30px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin:10px;">
</form>

{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>

{% endif %}
<script type="text/javascript">
    document.getElementById("id_new_password1").setAttribute("placeholder", "Enter your new password");
    document.getElementById("id_new_password2").setAttribute("placeholder", "Confirm your new password");
</script>
{% endblock %}
