{% extends 'base.html' %}

{% block content %}
  <h3 style="padding:20px;">Forgot password</h3>
  <style>
    #id_email{
    padding: 10px 10px;
    width : 350px;
    margin: -20px 40px;
}
label{
display:none;
}

  </style>
  <form method="post" style="padding:20px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="border-radius: 5px;
    border: 5px solid #00BF6F ;
    padding: 10px 30px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-left:44px;
margin-top:10px;">Submit</button>
  </form>
<script type="text/javascript">
    document.getElementById("id_email").setAttribute("placeholder", "Provide  your email address.");
</script>
{% endblock %}