h1{
	background-color: #00BF6F;
	padding:15px;
	margin: 0px;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
}
h3 {
    width:500px;
    margin: 60px auto;
    text-align: center;
	font-size:30px;
	font-family: 'Slabo 27px', serif;
	font-weight: 100;
}
body{
	background-color: #F4F5F5;
}
.head_string{
	font-size: 20px;
	padding-left:20px;
	font-family: 'Courgette', cursive;
}
div{
	color: red;
	padding:0px;
	width:500px;
	margin: 0 auto;
	margin-top:-19px;
	margin-left:-49px;
	position: absolute;
}
.message{
	height: 80px;
	width: 300px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
input[type = "text"]{
	text-align: center;
	padding: 10px;
	width: 300px;
	margin: 10px;
	margin-bottom: 20px;
}
#submit{
    border-radius: 5px;
    border: 5px solid #00BF6F ;
    width : 320px;
    padding: 10px;
    margin: 10px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
form{
	margin: 0 auto;
	width: 720px;
	margin-top: 20px;
	border: 1px solid black;
	padding: 40px;
	border-radius: 8px;
	background-color: #fff;
	padding-bottom: 50px;
	text-align: center;
}
#emails-error{
text-align:center;
width:1000px;
color:red;
margin: 0 auto;
margin-top:-19px;
margin-left:-190px;
position: absolute;
}


#subject-error{
text-align:center;
padding-left:340px;
width:500px;
color:red;
margin: 0 auto;
margin-top:-19px;
margin-left:-140px;
position: absolute;
}

#message-error{
text-align:center;
padding-left:340px;
width:500px;
color:red;
margin: 0 auto;
margin-top:-19px;
margin-left:-140px;
position: absolute;
}
