h1{
	background-color: #00BF6F;
	padding:15px;
	margin: 0px;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
}
h3 {
    width:500px;
    margin: 60px auto;
    text-align: center;
	font-size:30px;
	font-family: 'Slabo 27px', serif;
	font-weight: 100;
}
body{
	background-color: #F4F5F5;
}
.head_string{
	color: #000;
	font-size: 20px;
	font-family: 'Courgette', cursive;
	padding-left:20px;
}
.message{
	height: 80px;
	width: 300px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
input[type = "text"]{
	text-align: center;
	padding: 10px;
	width: 300px;
	margin: 10px;
	margin-bottom: 20px;
}
#submit{
    border-radius: 5px;
    border: 5px solid #00BF6F ;
    width : 320px;
    padding: 10px;
    margin: 10px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

div{
	width: 950px;
	margin: 10px auto;
	margin-top: 100px;
	border: 1px solid #fff;
	padding:20px;
	background-color: #fff;
	border-radius:5px;
}
.description{
	font-family: 'Slabo 27px', serif;
	color: #4c545a;
}
.div_title{
font-family: 'Raleway', sans-serif;
	font-size: 30px;
}
div:hover > a{
	color:#09c174;
}
div:hover{
	border : 1px solid #00BF6F;
}
a{
	text-decoration: none;
	color: dodgerblue;
}
input:read-only{
	background-color: #fff;
	width: 750px;
	border: none;
	text-align: left;
	padding: 0px;
	font-size: 25px;
	background-image: url("http://cdn.embed.ly/providers/logos/streamable.png");
  	background-position: left top;
  	background-repeat: no-repeat;
  	background-size: contain;
	padding-left:80px;
}
.copy{

	background-color: #6B787F;
	padding:10px;
	width: 80px;
	color: #fff;
	border:2px solid #6B787F;
	border-radius: 3px;
	font-size: 15px;

}