h1{
	background-color: #fff;
	padding:15px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	border-bottom:3px solid #343a40;
}
.question{
width:1000px;
border: 2px solid #671E75;
margin:20px;
padding:20px;
border-radius:13px;
}
label{
font-family: 'Raleway', sans-serif;
font-size:30px;
color: #00BF6F;
}

.sublist{
width:900px;
padding:10px;
font-size:13px;
padding-left:40px;
color: #343a40;
box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.respondent{
font-size:16px;
padding-left:20px;
color: #530CB0;
font-weight:bold;
}