.select_survey{
    width: 30%;
    padding: 0.4rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin:-5px;

}
#survey_name{
     width: 30%;
    padding: 0.375rem 0.75rem;
    margin-right:2px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
form{
    width:99%;
    position: absolute;
    padding:50px;
    padding-left: 10%;
    margin: 5%;
}
#create_survey{
    width: 25%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: #00BF6F;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;;
    transition: all 0.2s ease-in-out;
    margin:5px;
}
#create_survey:hover{
    transform:scale(1,1.01);
    -webkit-transform:scale(1,1.01);
    -moz-transform:scale(1,1.01);
    background-color: #fff;
    color:  #00BF6F;

}
#survey_name:hover,.select_survey:hover{
    border: 2px solid  #00BF6F;
}
.checkbox_container{
    padding-top: 10px;
}