#multiple_choice_form{
    position: absolute;
    display: none;
}
#multiple_checkbox_form{
    position: absolute;
	display: none;
}
#multiple_textbox_form{
	position: absolute;
	display: none;
}
#slider_form{
	position: absolute;
	display: non;
}
#star_rating_form{
	position: absolute;
	display: none;
}
#single_textbox_form{
	position: absolute;
	display: none;
}
