.navbar_logo{
    width:60px;
    margin: 0 20px;
}
.navbar_login{
    padding:10px 20px;
    font-family: sans-serif;
    font-weight:bold;
    border-radius: 5px;
    color:#00BF6F;
    border : 2px solid #00BF6F ;
    background-color:transparent;
}
.navbar_login:hover{
    color :  #00BF6F;
    background-color: white;  
    text-decoration: none !important;
}
#navbar_brand_name{
    font-family: 'Jua';
    color: #f2910d;
    font-weight: bold;
    font-size: 25px;
}
