input{
	 width : 272px;
	padding: 5px 5px;
}
div{
	margin:10px;
}
#save{
	  border-radius: 5px;
    border: 5px solid #00BF6F ;
	width: 70px;
    padding: 5px;
	margin:20px;
	margin-left:45%;

    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;

}
#question_text0,#question_text1,#question_text2,#question_text3,#question_text4{
	width:55%;
}
button:disabled{
	width: 200px;
padding: 10px;
  border: 2px solid #ffffff ;
	opacity: 0.5;
	 background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
button{
  width: 200px;
padding: 10px;
  border: 2px solid #00BF6F ;
	 background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
form{
	border: 2px solid #00BF6F ;
	padding:10px;
	width:90%;
	margin-left: 5%;
	background-color: #F4F5F5;

}
select{
	width : 272px;
	padding: 6px 5px;
}
td{
	padding:5px;
}
#survey_title{
	padding:10px;
	height: 65px;
 background-color: #00BF6F;
	color: white;
}
#survey_name{
	padding: 5px;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 25px;
}
#preview{
	margin: 20px;
	margin-left: 40%;
	width: 200px;
padding: 10px;
  border: 2px solid #00BF6F ;
	 background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white
}
#preview_container{
	margin-top: 120px;
	padding:30px;
	border: 2px solid #F4F5F5 ;
}
#preview:disabled{
	opacity: 0.5;
}