.navbar-dropdown{
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:10rem;
	padding:.5rem 0;
	margin:.125rem 0 0;
	font-size:1rem;
	color:#212529;
	text-align:left;
	list-style:none;
	background-color:#fff;
	background-clip:padding-box;
	border:1px solid rgba(0,0,0,.15);
	border-radius:.25rem
}
navbar-dropdown{margin-top:0;margin-bottom:.125rem}
#submit{
    border: 5px solid #00BF6F ;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-decoration:none;
}
#main-wrapper{
	background-color: #EDEEEE;
	height: 465px;
	text-align: center;
	padding-top: 100px
}
#wrapper{
	background-color: #fff;
	width:96vw;
	margin-left: 2vw;
	margin-top: 4em;
	margin-bottom: 2vw;
	padding:2vw;
	text-align: left;
	border: 1px solid lightgrey;
	border-radius: 5px;
}
#welcome-div{
	padding: 20px
}
p{
	font-family: 'PT Serif', serif;
	color: #24295f;
	font-size: 17px;
}
#get-started{
	font-size: 25px;
}
#welcome-heading{
	color: #7B8289;
	font-weight: 100;
}
#welcome-username{
	text-decoration: none;
}
#navbar-ul{
    margin-left:34em;
    top: 5; /* <--- set to zero, 1em = the inherited font size, which will offset it */
    right: 0;/* <--- set to zero, 1em = the inherited font size, which will offset it */
	padding-right: 65px;
}
