.question{
border: 3px solid  #00BF6F;
border-radius:5px;
padding:10px;
margin:10px;
margin-left:50px;
height:300px;
width:60%;
}
.question_text{
color:#00BF6F;
font-family: sans-serif;
font-size: 20px;
}
h1{
	background-color: #00BF6F;
	color:#fff;
	font-family: cursive;
	font-size: 50px;
	padding:20px;

}
.options{
padding:10px;
}
label{
padding-left:10px;
}
.options_radio{
padding:15px;
}

#submit{
	border-radius: 5px;
    border: 5px solid #00BF6F ;
	width: 70px;
    padding: 5px;
	margin:20px;
	margin-left:45%;
	margin-bottom:0px;

    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;

}
#submit:disabled{
	opacity: 0.5;
}
.option_textbox{
    padding: 10px 10px;
    width : 350px;
    margin-left:20px;

}
.collect_responses{
    border-radius: 5px;
    border: 5px solid #00BF6F ;
	width: 70px;
    padding: 5px;
    margin-bottom:200px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.collect_responses:hover{
    border-radius: 5px;
    border: 5px solid #00BF6F ;
	width: 70px;
    padding: 5px;
    margin-bottom:200px;
    background-color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: #00BF6F;
    text-decoration: none;
}
.footer{
margin: 0 auto;
text-align:center;
width:200px;}

p{
font-size:10px;
margin:0px;
padding:0px;}
form{
margin-bottom:0px !important;}
hr{
margin-top:-20px;}