h1{
	background-color: #00BF6F;
	padding:15px;
	margin: 0px;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
}
h3 {
    width:500px;
    margin: 30px auto;
    text-align: center;
	font-size:30px;
	font-family: 'Slabo 27px', serif;
	font-weight: 100;
}
div{
	width: 600px;
	margin: 10px auto;
	padding:20px;
	border: 1px solid #fff;
	background-color: #fff;
	font-family: 'Raleway', sans-serif
}
body{
	background-color: #F4F5F5;
}

a{
	text-decoration: none;
	color: darkslategray
}
div:hover > a{
	color:#09c174;
}
div:hover{
	border : 1px solid #00BF6F;
}
.head_string{
	font-size: 20px;
	font-family: 'Courgette', cursive;
	padding-left:20px;
}