
div{
	
	width:400px;
	max-height: 700px;
    box-sizing: border-box;
    border: 5px solid #e6e9ef ;
    padding: 30px 40px;
    /*background-color: #e6e9ef;*/
    border-radius: 6px;
	margin:0 auto;
 	background:#f7f7f7;
 	position:absolute;
 	left:60%;
 	top:51%;
 	margin-left:-250px;
 	margin-top:-250px;
 	overflow:auto;
}
label{
    font-family: 'Ubuntu', sans-serif;
    padding-top: 13px;
}
input{
    /*padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 15px;*/
width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
#submit{
    border-radius: 5px;
    border: 5px solid #00BF6F ;
    padding: 10px 70px;
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;   
}
.forgot-password{
    color: dodgerblue
}
input:hover{
    border-color:  #00BF6F;
}
#submit:hover{
    color :  #00BF6F;
    background-color: white;    
}
.navbar_logo{
    width:60px;
    margin: 0 20px;
}
.navbar_login{
    padding:10px 20px;
    font-family: sans-serif;
    font-weight:bold;
    border-radius: 5px;
    color:#00BF6F;
    border : 2px solid #00BF6F ;
    background-color:transparent;
}
.navbar_login:hover{
    color :  #00BF6F;
    background-color: white;    
    text-decoration: none !important;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.btn:hover {
  opacity: 1;
	color: white;
}

.fb {
  background-color: #3B5998;
  color: white;
}


.google {
  background-color: #dd4b39;
  color: white;
}
input:hover{
	border: 1px solid #00BF6F;
}
ul{
list-style:none;
font-size:14px;
font-style: italic;
color:red;
}
