.home_content{
	text-align: center;
	margin:0 auto;
 	margin-top:11em;
}
#tagline{
	font-family: 'Lato', sans-serif;
	font-size: 5.5vw;
}
#description{
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	padding-left: 40px;
	padding-right: 40px;
	color: #8E969B;
	margin-bottom: 40px;
}
#signup_home{
	border-radius: 5px;
    border: 5px solid #00BF6F ;
    padding: 10px 30px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;  
}
#signup_home:hover{
    background-color: #00D97E; 
	text-decoration: none;
	border-color: #00D97E;
}