                        header{
    text-align-last: center;
    font-family :cursive;
    padding: 10px;
}

#id_username,#id_password1,#id_password2,#id_email,#id_first_name,#id_last_name{
    padding: 10px 10px;
    width : 350px;
    margin: -20px 0px;
}
#id_last_name{
    margin-bottom:5px;
}
label{
display:none !important;
}

#submit{
    border-radius: 5px;
    border: 5px solid #00BF6F ;
    width : 375px;
    padding: 10px 70px;
    margin-bottom: 20px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
footer{
    text-align-last: center;
    font-family :cursive;
    padding: 20px 20px;
}
.form_fieldset{
    padding-top:10px;
    text-align-last: center;
    border-top:5px solid;
}
.form_legend{
padding-top:10px;
text-align: center;
font-size: 15px;
}
#id_username:hover,#id_password1:hover,#id_password2:hover,#id_email:hover,#id_first_name:hover,#id_last_name:hover{
    border-color:  #00BF6F;
}
#submit:hover,.navbar_login:hover{
    color :  #00BF6F;
    background-color: white;
    text-decoration: none !important;
}
.privacy_policy,.terms_of_use,.log_in{
    color: dodgerblue;
}
.navbar_login{
    padding:10px 20px;
    font-family: sans-serif;
    font-weight:bold;
    border-radius: 5px;
    color:#00BF6F;
    border : 2px solid #00BF6F ;
    background-color:transparent;
}
.header_create_account{
    padding: 0px;
    margin: 0px;
}
.navbar_logo{
    width:60px;
    margin: 0 20px;
}
tr,th,td{
padding:0px;
margin:0px;
}