.header{
	text-align: center;
	height:120px;
	background-color: #343A40;
	color:#F29021;
	padding:20px;

}
.thanks_line{
	padding:10px;
	margin:0px;
	font-family: 'Cairo', sans-serif;
	font-family: 'Chicle', cursive;
	font-size: 50px;
}
.logo{
	width:80px;
	font-family: 'Chicle', cursive;
	font-family: 'PT Sans Caption', sans-serif;

}
.chameleon{
	width:600px;
}
.thankyou{
    width: 50%;
    float: left;
	text-align: center;
}
.image{
    width: 50%;
    float: left;
}
h3{
	font-family: 'Alegreya', serif;
	text-align: center;
	font-weight: 1500;
	font-size: 40px;
	color: #343A40;
}
.description{
	font-family: 'Alegreya', serif;
	font-weight: 1500;
	font-size: 20px;
	text-align: center;
	text-align: justify;
	margin-bottom: 60px;
}
.submit{
	border-radius: 5px;
    border: 5px solid #00BF6F ;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
	padding:1em;
	padding-left:2em;
	padding-right:2em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
	margin-left:15px;
}
.link{
	padding:10px;

}