{% extends 'base.html' %}
{% block content %}
<p style="padding:20px; font-size=20px; font-style:italic;">The confirmation link was invalid, possibly because it has
    already been used. Continue to <a href="/login">login </a>if you already used the link.</p>

<br>
{% endblock %}