{% extends 'base.html' %}
{% block content %}
  <p style="padding:20px; font-size=20px; font-style:italic;">Thank You For activating your account. Please continue to
  <a href="/login">login</a> to your account and start creating your own surveys.</p>
<br>
<!--
<a id="login_activation" href="/login" style="border-radius: 5px;
    border: 5px solid #00BF6F ;
    padding: 10px 30px;
    margin-left:20px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;  ">Log In</a>-->
{% endblock %}