{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style_common.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.min.css' %}">
  <script src="{% static 'bootstrap_js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}" />
  <title>Sign Up</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}" class = "navbar_logo">
  <a class="navbar-brand" id="navbar_brand_name"  href="#">Survey King</a>
    <ul class="navbar-nav mr-auto">
    </ul>
    <!--  <a class="navbar_login" href="/login">Log In</a> -->
</nav>
{% block content %}{% endblock %}
</body>
</html>
