{% load static %}


<!DOCTYPE html>
<html lang="">
<head>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_common.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style_dashboard.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap_js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Serif" rel="stylesheet">
  <title> Login form </title>
</head>

<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <img src="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}" class = "navbar_logo">
		<a class="navbar-brand" id="navbar_brand_name" href="#">Survey King</a>
  <!-- Links -->
  <ul class="navbar-nav" id="navbar-ul">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/survey/create_survey" style="width:120px;">Create Survey</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/survey/survey_selection_for_response" style="width:125px;">Analyze Results</a>
    </li>


    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {% block content %}
                {% if user.is_authenticated %}
                   {{ user.username }}
	            {% else %}
                    <a class="simple-text" href="{% url 'login' %}">Log in</a>
	            {% endif %}
            {% endblock content %}
      </a>
      <div class="dropdown-menu">
        <!-- <a class="dropdown-item" href="#">My Account</a> -->
        <a class="dropdown-item" href="/password">Change Password</a>
        <a class="dropdown-item" href="/logout_user">Logout</a>
      </div>
    </li>
  </ul>
</nav>
    <div id="welcome-div" style="">
		<h2 id="welcome-heading">Welcome back, <a href="" id="welcome-username">{{ user.first_name }}</a>!</h2>
		<p> You haven't created any survey yet create the survey and explore the survey king!!</p>
    </div>
	<div id= "main-wrapper">
	<p id="get-started">Let's get started & create your first survey!</p>
        <a id="submit" href="/survey/create_survey">Create Survey</a>
	<div id="wrapper"> <h5>Crete Survey -> Share Survey -> Get Responses -> Analyze Results</h5>
		<p>Survey results can help you understand how you’re doing now, but also what you need to do next. Analyze the survey results to get the insight of how you are doing wheather it is perfect or need some improvements.</p>
	</div></div>

</body>
</html>
