{% load static %}


<!DOCTYPE html>
<html lang="">
<head>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{% static 'CSS/style_signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style_common.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.min.css' %}">
  <script src="{% static 'bootstrap_js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}" />
  <title>Sign Up</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}" class = "navbar_logo">
  <a class="navbar-brand" id="navbar_brand_name"  href="#">Survey King</a>
    <ul class="navbar-nav mr-auto">
    </ul>
      <a class="navbar_login" href="/login">Log In</a>
</nav>
    <!--
  <header>
      <p class = "header_create_account">Create a FREE account</p>
      <label>Already have an account?</label>
      <a class="log_in" href="/login">Log In </a>
    </header>
    -->
   {% block content %}
  <form method="post" class="signup_form">
      <fieldset class="form_fieldset">
        <legend class="form_legend"> Create an Account</legend>
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" id="submit" onclick="isEmpty()">Sign up</button>
      </fieldset>
  </form>
{% endblock %}
    <footer>
        <span>
        By clicking ‘CREATE ACCOUNT’ you agree to the 
        </span>
        <a class="terms_of_use" href="">Terms of Use</a>
        <span>and</span>
        <a class="privacy_policy" href="">Privacy Policy</a>
        <span>
        .You also agree to receive information relevant to your account via email.
        </span>
    </footer>
<script type="text/javascript" src="{% static 'js/signup_empty.js' %}"></script>
</body>
</html>
