{% extends 'base_login.html' %}
{% load static %}
{% block content %}
<title>Collect Responses</title>
<link rel="stylesheet" href="{% static 'CSS/style_collect_responses.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway|Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<h1> {{survey_name}}</h1>
<hr>
<p class="head_string">Collect Survey Responses</p>
<h3>How Would you like to collect responses for your survey?</h3>
<div class="sendbyemail">
    <a href="/survey/get_responses_by_email">
        Send By Email</a>
    <p>
        Create custom email invitations and track who responds. Send follow up reminders to those who haven’t
        responded.</p></div>

<div class="sendbyemail">
    <a href="/survey/get_responses_by_weblink">
        Get Web Link</a>
    <p>
        Share a web link via email, on your website, or post to social media. You can also schedule a recurring web
        link.</p></div>


{% endblock %}