{% extends 'base_login.html' %}
{% load static %}

{% block content %}
<form  action="/survey/get_create_survey_data/" method="POST">
    {% csrf_token %}
    <input type="text" name="survey_name" id="survey_name" placeholder="Please Enter Survey Name" maxlength="50" required>
    <select class="select_survey" id="sel1" name="select_survey_dropdown" required>
        <option value="" disabled selected>Select your option</option>
        {% for entry in category %}
    <option value="{{ entry.name }}">{{ entry.name }}</option>
        {% endfor %}
        <!--
        <option value="customer_feedback">Customer Feedback</option>
        <option value="just_for_fun">Just For Fun</option>
        <option value="employee_feedback">Employee Feedback</option>
        <option value="on_board_survey">On Board Survey</option>
        -->
    </select>
    <input type="submit" value="Create Survey" id="create_survey" onclick="isEmpty()">
    <!--
    <div class="checkbox_container">
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
            <label class="custom-control-label" for="customCheck">Custom checkbox</label>
        </div>
    </div>
    -->
</form>
<script type="text/javascript" src="{% static 'js/create_survey_empty.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style_create_survey.css' %}">
{% endblock %}
