{% extends 'base_login.html' %}
{% load static %}
{% block content %}

<title>Collect Responses</title>
<link rel="stylesheet" href="{% static 'CSS/get_responses_by_email.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway|Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"
        type="text/javascript"></script>
<script>

$(document).ready(function(){
  jQuery.validator.addMethod("multiemail", function (value, element) {
        if (this.optional(element)) {
            return true;
        }
        var emails = value.split(','),
            valid = true;
        for (var i = 0, limit = emails.length; i < limit; i++) {
            value = emails[i];
            valid = valid && jQuery.validator.methods.email.call(this, value, element);
        }
        return valid;
    }, "Valid email address seperated by comma. ");


 $("#emailFrm").validate({
    errorElement:'div',
    rules: {
        emails: {
            required: true,
            multiemail:true
        }
    },
    messages:
    {
        emails: {
            required:"Please enter email address."
        }
    }
 });
});


</script>


<h1>{{survey_name}}</h1>
<hr>
<p style="font-family: 'Slabo 27px', serif;
font-size:20px;
color:#00BF6F;
padding-left:20px;
padding-right:20px;
width:700px;
margin:0 auto;">{{success_message}}</p>
<form action="/survey/get_data_for_email_response/" method="POST" id="emailFrm">
    {% csrf_token %}
    <input type="text" name="emails" placeholder="Email Address List" required/>
    <br>
    <input type="text" name="subject" placeholder="Subject" required/>
    <br>
    <textarea name="message" placeholder="Message" class="message" required></textarea>
    <br>
    <input type="submit" name="submit" value="submit" id="submit">
</form>




{% endblock %}