{% extends 'base_login.html' %}
{% load static %}
{% block content %}

	<title>Collect Responses</title>
<link rel="stylesheet" href="{% static 'CSS/get_response_by_weblink.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway|Slabo+27px" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<script>

function copy() {
  var copyText = document.getElementById("link");
  copyText.select();
  document.execCommand("copy");
}

</script>

<h1>{{survey_name}}</h1>
	<hr>
	<p class="head_string">Collect Survey Responses By The Web Link</p>
	<div>
	<p class="div_title"> Web link for your survey </p>
	<input type=text value="{{survey_link}}" id="link" readonly>
	<input type="button" class="copy" onclick="copy()" value="copy" >
		<p class="description"> Just use this link and share it on website or embed on social modia profile to get responses for the survey.</p>
	</div>

{% endblock %}