{% extends 'base_login.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style_preview_survey_question.css' %}">
<h1>{{survey_name}}</h1>
{% for entry in question_list %}
            {% ifequal entry.1 "Multiple Choice"  %}
                <div class="question">
                <label class="question_text">{{ forloop.counter }}. {{ entry.0 }} </label>
                <br>
                {% for field in choice_list %}
                    {% ifequal field.0 entry.0  %}
                        {% for choice in field.1 %}
                        <div class="options_radio">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="radio_option{{ forloop.counter }}" name="radio_option"
                               value="option3">
                        <label class="custom-control-label" for="radio_option{{ forloop.counter }}">{{ choice }} </label>
                        </div>
                            </div>
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
                    </div>
            {% endifequal %}

             {% ifequal entry.1 "Multiple Text Box"  %}
                <div class="question">
                <label class="question_text">{{ forloop.counter }}. {{ entry.0 }} </label>
                <br>
                <table>

                {% for field in choice_list %}
                    <div style="margin-bottom:10px;">
                    <tr >

                    {% ifequal field.0 entry.0  %}
                        {% for choice in field.1 %}
                            <td>
                            <label class="multiple_textbox_options" for="multi_input{{ forloop.counter }}">{{ choice }} </label>
                                </td>
                            <td>
                            <input class="option_textbox" id="multi_input{{ forloop.counter }}" type="text" maxlength="100">
                                </td>

                         </tr>
                          </div>
                        {% endfor %}

                    {% endifequal %}

                {% endfor %}


                </table>
                </div>
            {% endifequal %}

             {% ifequal entry.1 "Check Box"  %}
                <div class="question">
                <label class="question_text">{{ forloop.counter }}. {{ entry.0 }} </label>
                <br>
                {% for field in choice_list %}
                    {% ifequal field.0 entry.0  %}
                        {% for choice in field.1 %}
                            <div class="options">
                            <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="checkbox_option{{ forloop.counter }}" name="options"
                             value="option4">
                            <label class="custom-control-label" for="checkbox_option{{ forloop.counter }}">{{ choice }} </label>
                             </div>
                            </div>
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
                </div>
            {% endifequal %}

             {% ifequal entry.1 "Single Textbox"  %}
                <div class="question">
                <label class="question_text">{{ forloop.counter }}. {{ entry.0 }} </label>
                <br>
                {% for field in choice_list %}
                    {% ifequal field.0 entry.0  %}
                        {% for choice in field.1 %}
                            <div class="option_single" style="margin-top:20px;">
                            <label for="single_input{{ forloop.counter }}" class="single_textbox_options">{{ choice }} </label>
                            <input class="option_textbox" id="single_input{{ forloop.counter }}" type="text" maxlength="20">
                            </div>
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
                </div>
            {% endifequal %}

{% endfor %}
<input type="submit" id="submit" style="margin-left:30%;margin-bottom:40px;"disabled>
<br>

<a href="/survey/collect_responses" class="collect_responses" style="margin-left:27%;margin-bottom:100px;">Collect Responses</a>
<br style="margin-bottom:50px;">
<br>
<br>

{% endblock %}