{% extends 'base_login.html' %}
{% load static %}

{% block content %}

 <link rel="stylesheet" type="text/css" href="{% static 'CSS/show_responses.css' %}">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});


</script>

{% csrf_token %}
<h1>{{survey}}</h1>
{% for entry in data_list %}
{% ifequal entry.0 "Multiple Choice" %}
<div class="question">
<label name="">{{ forloop.counter }}. {{entry.1}}</label>
{{ entry.2.chart.as_html }}
</div>
{% endifequal %}

{% ifequal entry.0 "Multiple Text Box" %}
<div class="question">
<label name="">{{ forloop.counter }}. {{entry.1}}</label>
 <br>
 {% for respondent in entry.2 %}
 <label class="respondent" name="">{{ forloop.counter }}.</label>
 <br>
  {% for answer in respondent %}
  <label class="sublist" name="">{{ forloop.counter }}. {{answer}}</label>
 <br>
  {% endfor %}
{% endfor %}
 </div>
{% endifequal %}

{% ifequal entry.0 "Check Box" %}
<div class="question">
<label name="">{{ forloop.counter }}. {{entry.1}}</label>
{{ entry.2.chart.as_html }}
</div>
{% endifequal %}

{% ifequal entry.0 "Single Textbox" %}
<div class="question">
<label name="">{{ forloop.counter }}. {{entry.1}}</label>
 <br>
 {% for answer in entry.2 %}
 <label class="sublist" name="">{{ forloop.counter }}. {{ answer}}</label>
 <br>
{% endfor %}
 </div>
{% endifequal %}


{% endfor %}


{% endblock %}