{% extends 'base_login.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/style_survey_selection_for_response.css' %}">

<form action="/survey/show_response_for_selected_survey/" method="POST">
      {% csrf_token %}
    <label id="description" for="sel1"> Please select a survey to view response</label>
    <select class="select_survey" id="sel1" name = "selected_survey" required>
        <option value="" disabled selected>Select your option</option>
        {% for entry in survey %}
        <option value="{{ entry }}">{{ entry }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="View Responses" id="create_survey">
</form>

{% endblock %}
