{% load static %}
{% block content %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_common.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style_dashboard.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap_js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style_survey_response_form.css' %}">
    <title> {{survey_name}} </title>
</head>

<form action="/survey/store_survey_responses/" method="POST">

    {% csrf_token %}
    <h1>{{survey_name}}</h1>
    {% for entry in question_list %}
    {% ifequal entry.1 "Multiple Choice" %}
    <div class="question">
        <label class="question_text">{{ forloop.counter }}. {{ entry.0 }} </label>
        <br>
        {% for field in choice_list %}
        {% ifequal field.0 entry.0 %}
        {% for choice in field.1 %}
        <div class="options_radio">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="radio_option{{forloop.parentloop.counter}}{{ forloop.counter }}"
                       name="{{entry.0}}"
                       value="{{ choice }}" required>
                <label class="custom-control-label" for="radio_option{{forloop.parentloop.counter}}{{ forloop.counter }}">{{ choice }} </label>
            </div>
        </div>
        {% endfor %}
        {% endifequal %}
        {% endfor %}
    </div>
    {% endifequal %}

    {% ifequal entry.1 "Multiple Text Box" %}
    <div class="question">
        <label class="question_text">{{ forloop.counter }}. {{ entry.0 }} </label>
        <br>
        <table>

            {% for field in choice_list %}
            <div style="margin-bottom:10px;">
                <tr>

                    {% ifequal field.0 entry.0 %}
                    {% for choice in field.1 %}
                    <td>
                        <label class="multiple_textbox_options" for="multi_input{{ forloop.counter }}">{{ choice}}</label>
                    </td>
                    <td>
                        <input class="option_textbox" id="multi_input{{ forloop.counter }}" type="text" name="multipletextbox{{ entry.0 }}{{ forloop.counter }}"
                               maxlength="200"   required>
                    </td>

                </tr>
            </div>
            {% endfor %}

            {% endifequal %}

            {% endfor %}


        </table>
    </div>
    {% endifequal %}

    {% ifequal entry.1 "Check Box" %}
    <div class="question">
        <label class="question_text">{{ forloop.counter }}. {{ entry.0 }} </label>
        <br>
        {% for field in choice_list %}
        {% ifequal field.0 entry.0 %}
        {% for choice in field.1 %}
        <div class="options">
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="checkbox_option{{forloop.parentloop.counter}}{{ forloop.counter }}"
                       name="options{{entry.0}}"
                       value="{{ choice }}" >
                <label class="custom-control-label" for="checkbox_option{{forloop.parentloop.counter}}{{ forloop.counter }}">{{ choice }} </label>
            </div>
        </div>
        {% endfor %}
        {% endifequal %}
        {% endfor %}
    </div>
    {% endifequal %}

    {% ifequal entry.1 "Single Textbox" %}
    <div class="question">
        <label class="question_text">{{ forloop.counter }}. {{ entry.0 }} </label>
        <br>
        {% for field in choice_list %}
        {% ifequal field.0 entry.0 %}
        {% for choice in field.1 %}
        <div class="option_single" style="margin-top:20px;">
            <label for="single_input{{ forloop.counter }}" class="single_textbox_options">{{ choice }} </label>
            <input class="option_textbox" id="single_input{{ forloop.counter }}" name="singletextbox{{ entry.0 }}" type="text" maxlength="200" required>
        </div>
        {% endfor %}
        {% endifequal %}
        {% endfor %}
    </div>
    {% endifequal %}

    {% endfor %}
    <input type="submit" id="submit" style="margin-left:30%;margin-bottom:100px;">
</form>
<hr>
<div class="footer">
    <p>Powered by</p>
    <p>SurveyKing</p>
    <p>See how easy it is to create a survey.</p>
    <p><a href="">Privacy</a> & <a href="">Cookie Policy</a></p>
</div>
<br>


{% endblock %}