{% extends 'base_login.html' %}
{% load static %}
{% block content %}

 {% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style_survey_question.css' %}">

<div id="survey_title">
    <p id="survey_name">{{survey_name}}</p></div>
<div id="main_wrapper0">
    <form id="main_form0" action="/survey/store_survey_question/" method="POST" onsubmit="return false">
        {% csrf_token %}
        <p class="question_number" id="question_number" name="question_number">1</p>
        <input type="text" class="question_text" name="question_text" id="question_text0"
               placeholder="Enter the question" required>
        <select name="select_question" class="select_survey" id="sel0" onchange="collapseQuestion(this,this.value)"
                required>
            <option value="" disabled selected>Select your option</option>
            {% for entry in question_type %}
            <option value="{{ entry.name }}">{{ entry.name }}</option>
            {% endfor %}
        </select>
    </form>

    <form id="multiple_choice_form0" action="/survey/store_survey_question/" method="POST" >
         {% csrf_token %}
        <p class="question_number" id="question_number" name="question_number">1</p>
        <input type="text" class="question_text" id="question_text1" name="question_text"
               placeholder="Enter the question" required>
        <select name="select_question" class="select_survey" id="sel1" onchange="collapseQuestion(this,this.value)"
                required>
            <option value="" disabled selected>Select your option</option>
            {% for entry in question_type %}
            <option value="{{ entry.name }}">{{ entry.name }}</option>
            {% endfor %}
        </select>
        <hr>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio1" name="options"
                   value="option1" disabled>
            <label class="custom-control-label" for="customRadio1"></label>
            <input type="text" class="radio_input" id="radiooption1" name="radiooption1"
                   placeholder="Enter the answer choice" required>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio2" name="options"
                   value="option2" disabled>
            <label class="custom-control-label" for="customRadio2"></label>
            <input type="text" class="radio_input" id="radiooption2" name="radiooption2"
                   placeholder="Enter the answer choice" required>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio3" name="options"
                   value="option3" disabled>
            <label class="custom-control-label" for="customRadio3"></label>
            <input type="text" class="radio_input" id="radiooption3" name="radiooption3"
                   placeholder="Enter the answer choice" required>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio4" name="options"
                   value="option4" disabled>
            <label class="custom-control-label" for="customRadio4"></label>
            <input type="text" class="radio_input" id="radiooption4" name="radiooption4"
                   placeholder="Enter the answer choice" required>
        </div>
        <input class="save" type="submit" value="Save" id="save">
    </form>


    <form id="multiple_checkbox_form0" action="/survey/store_survey_question/" method="POST">
        {% csrf_token %}
        <p class="question_number" id="question_number" name="question_number">1</p>
        <input type="text" class="question_text" id="question_text2" name="question_text"
               placeholder="Enter the question" required>
        <select name="select_question" class="select_survey" id="sel2" onchange="collapseQuestion(this,this.value)"
                required>
            <option value="" disabled selected>Select your option</option>
            {% for entry in question_type %}
            <option value="{{ entry.name }}">{{ entry.name }}</option>
            {% endfor %}
        </select>
        <hr>
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1" name="options"
                   value="option1" disabled>
            <label class="custom-control-label" for="customCheck1"></label>
            <input type="text" class="checkbox_input" id="checkboxoption1" name="checkboxoption1"
                   placeholder="Enter the answer choice" required>
        </div>
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck2" name="options"
                   value="option2" disabled>
            <label class="custom-control-label" for="customCheck2"></label>
            <input type="text" class="checkbox_input" id="checkboxoption2" name="checkboxoption2"
                   placeholder="Enter the answer choice" required>
        </div>
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck3" name="options"
                   value="option3" disabled>
            <label class="custom-control-label" for="customCheck3"></label>
            <input type="text" class="checkbox_input" id="checkboxoption3" name="checkboxoption3"
                   placeholder="Enter the answer choice" required>
        </div>
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck4" name="options"
                   value="option4" disabled>
            <label class="custom-control-label" for="customCheck4"></label>
            <input type="text" class="checkbox_input" id="checkboxoption4" name="checkboxoption4"
                   placeholder="Enter the answer choice" required>
        </div>
        <input class="save" type="submit" value="Save" id="save">
    </form>


    <form id="multiple_textbox_form0" action="/survey/store_survey_question/" method="POST">
        {% csrf_token %}
        <p class="question_number" id="question_number" name="question_number">1</p>
        <input type="text" class="question_text" id="question_text3" name="question_text"
               placeholder="Enter the question" required>
        <select name="select_question" class="select_survey" id="sel3" onchange="collapseQuestion(this,this.value)"
                required>
            <option value="" disabled selected>Select your option</option>
            {% for entry in question_type %}
            <option value="{{ entry.name }}">{{ entry.name }}</option>
            {% endfor %}
        </select>
        <hr>
        <table>
            <tr>
                <td>
                    <label id="tb1_label" for="tb1">Label 1</label>
                </td>
                <td>
                    <input type=text id="mtextboxoption1" name="mtextboxoption1" placeholder="Enter the answer choice"
                           required>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="tb2_label" for="tb2">Label 2</label>
                </td>
                <td>
                    <input type=text id="mtextboxoption2" name="mtextboxoption2" placeholder="Enter the answer choice"
                           required>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="tb3_label" for="tb3">Label 3</label>
                </td>
                <td>
                    <input type=text id="mtextboxoption3" name="mtextboxoption3" placeholder="Enter the answer choice"
                           required>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="tb4_label" for="tb4">Label 4</label>
                </td>
                <td>
                    <input type=text id="mtextboxoption4" name="mtextboxoption4" placeholder="Enter the answer choice"
                           required>
                </td>
            </tr>
        </table>
        <input class="save" type="submit" value="Save" id="save">
    </form>


    <form id="single_textbox_form0" action="/survey/store_survey_question/" method="POST">
        {% csrf_token %}
        <p class="question_number" id="question_number" name="question_number">1</p>
        <input type="text" class="question_text" id="question_text4" name="question_text"
               placeholder="Enter the question" required>
        <select name="select_question" class="select_survey" id="sel4" onchange="collapseQuestion(this,this.value)"
                required>
            <option value="" disabled selected>Select your option</option>
            {% for entry in question_type %}
            <option value="{{ entry.name }}">{{ entry.name }}</option>
            {% endfor %}
        </select>
        <br>
        <hr>
        <div>
            <label id="single_textbox_label" for="singletextboxoption1">Label 1</label>
            <input type=text id="singletextboxoption1" name="singletextboxoption1"
                   placeholder="Enter the answer choice" required>
            <br>
            <input class="save" type="submit" value="Save" id="save">
        </div>
    </form>
    <hr>

</div>
<button class="repeat" id="repeat" disabled style="margin-left: 40%;">New Question</button>
<br>
<div id="preview_container">
    <input type="button" class="preview" id="preview" value=" Done & Show Preview" onclick="location.href='/survey/preview_survey_question';" disabled >
</div>
<script src="{% static 'js/survey_questions.js' %}" type="text/javascript"></script>
<!--<script src="{% static 'js/csrf.js' %}" type="text/javascript"></script>-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

{% endblock %}