{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Thank You ! For Responding</title>
	<link href="https://fonts.googleapis.com/css?family=Alegreya|Cairo|Chicle|PT+Sans+Caption" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'CSS/thank_you.css' %}">
	<script src="jquery-3.3.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>

<body>
	<div class="header">
		<img class="logo" src="{% static 'images/8d941b4d096977ec87aa6825de1a75f7.png' %}">
		<p class="thanks_line"> Thank You For Taking The Survey</p>
	</div>
	<h3>Want to create your own survey?</h3>
	<div class="thankyou">
<p class="description">Find out what your prospects, customers, employees think. Send up to 10 questions to 100 people right now for free.</p>

	<a href="/login" class="submit">Login To The Survey King</a>
	<a href="/register" class="submit">Signup On The Survey King</a>
	</div>
	<div class="image">
	<img class="chameleon" src="{% static 'images/start-page-focus.png' %}">
	</div>
</body>
	<script>
	$(document).ready(function() {
    $(".header").delay(2000).fadeIn(1500);
});</script>
</html>
