{% extends 'base_login.html' %}
{% block content %}
<form method="post">
     {% if messages %}
<ul class="messages" id="messages" style="font-style:italic; list-style:none;">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save</button>

</form>

<style>
ul{
display:none;
}
.errorlist{
display:block;
position:fixed;
margin-top:85px;
list-style:none;
font-style:italic;
color:red;
padding-left:0px;
}
#messages{
display:block;
}
  label{
  padding:10px;
  font-style: oblique;
  display:none;
  }
  button{
  display:block;
  border-radius: 5px;
    border: 5px solid #00BF6F ;
    padding: 10px 30px;
    background-color: #00BF6F;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-top:60px;
    }
    input{
    padding:10px;
    display:block;
    width:300px;
    margin-top:35px;
    }
    form{
    padding:30px;
    }
    ul{
     margin-top:10px;
    }
    #navbar-ul{
      margin-top:0px;
      }
    #id_new_password2{
    margin-top:10px;
    }
</style>
<script type="text/javascript">
    document.getElementById("id_old_password").setAttribute("placeholder", "Enter your old password");
    document.getElementById("id_new_password1").setAttribute("placeholder", "Enter your new password");
    document.getElementById("id_new_password2").setAttribute("placeholder", "Confirm your new password");
</script>
{% endblock %}